.quick-actions {
  display: flex;
  gap: 16px;
}

.quick-actions button:nth-child(1) {
  background: var(--red);
  color: white;
}

.quick-actions button:nth-child(2) {
  background: var(--yellow);
  color: #1f2937;
}

.quick-actions button:nth-child(3) {
  background: var(--green);
  color: #0f172a;
}

.quick-actions button:nth-child(4){
  background: var(--blue);
  color: white;
}
